.left-nav {
  padding: 0;
}
.left-nav__container {
  position: fixed;
  height: calc(100vh - 65px);
  background-color: rgba(0, 0, 0, 0.05);
}
.left-nav__container--item {
  margin: 5px 20px;
  font-family: 'Cormorant SC', 'Times New Roman', serif;
  font-size: 21px;
  color: black;
}
